/* The following CSS is mostly taken from Wakaba, big thanks for the devs there! <3 */

html, body {
    background:#fdf6e3;
    color:#657b83;
}
a {
    color:#0000EE;
}
a:hover {
    color:#DD0000;
}
.adminbar {
    text-align:right;
    clear:both;
    float:right;
}
.logo {
    clear:both;
    text-align:center;
    font-size:2em;
    color:#586e75;
    width:100%;
}
.theader {
    background:#fff8d5;
    text-align:center;
    padding:2px;
    color:#637c84;
    width:100%;
}
.postarea {
}
.rules {
    font-size:0.7em;
}
.postblock {
    background:#eee8d5;
    color:#8;
    font-weight:800;
}
.footer {
    text-align:center;
    font-size:12px;
    font-family:serif;
}
.passvalid {
    background:#e1e9f4;
    text-align:center;
    width:100%;
    color:#ffffff;
}
.dellist {
    font-weight: bold;
    text-align:center;
}
.delbuttons {
    text-align:center;
    padding-bottom:4px;

}
.managehead {
    background:#AAAA66;
    color:#536467;
    padding:0px;
}
.postlists {
    background:#FFFFFF;
    width:100%;
    padding:0px;
    color:#586e75;
}
.row1 {
    background:#DEEECC;
    color:#5625e5;
}
.row2 {
    background:#DDDDAA;
    color:#800000;
}
.unkfunc {
    background:inert;
    color:#789922;
}
.filesize {
    text-decoration:none;
}
.filetitle {
    background:inherit;
    font-size:1.2em;
    color:#CC1105;
    font-weight:800;
}
.postername {
    color:#117743;
    font-weight:bold;
}
.postertrip {
    color:#228854;
}
.oldpost {
    color:#CC1105;
    font-weight:800;
}
.omittedposts {
    color:#707070;
}
.reply {
    background:#F0E0D6;
    color:#800000;
}
.doubledash {
    vertical-align:top;
    clear:both;
    float:left;
}
.replytitle {
    font-size: 1.2em;
    color:#CC1105;
    font-weight:800;
}
.commentpostername {
    color:#117743;
    font-weight:800;
}
.thumbnailmsg {
    font-size: small;
    color:#800000;
}



.abbrev {
    color:#707070;
}
.highlight {
    background:#F0E0D6;
    color:#800000;
    border: 2px dashed #EEAA88;
}

/* From pl files */

/* futaba_style.pl */

form { margin-bottom: 0px }
form .trap { display:none }
.postarea { text-align: center }
.postarea table { margin: 0px auto; text-align: left }
.thumb { border: none; float: left; margin: 2px 20px }
.nothumb { float: left; background: #eee; border: 2px dashed #aaa; text-align: center; margin: 2px 20px; padding: 1em 0.5em 1em 0.5em; }

.reflink a { color: inherit; text-decoration: none }
.reply .filesize { margin-left: 20px }
.userdelete { float: right; text-align: center; white-space: nowrap }
.replypage .replylink { display: none }
